
##Webapp
*webapp/node_modules
*webapp/dist/**/*
*webapp/package-lock.json
*webapp/.DS_Store
*webapp/config/keys_dev.js
*webapp/uploads/**/*
*webapp/.vscode/launch.json
*webapp/.env*

##Backoffice
backoffice/src/bin/
backoffice/src/obj/
backoffice/src/appsettings.*

backoffice/tests/bin/
backoffice/tests/obj/
backoffice/tests/appsettings.*

backoffice/Droits.sln.DotSettings.user


##terraform
.terraform
terraform.tfstate
test.tfvars
/terraform/.env
/terraform/refresh-diagram.sh
/terraform/terraform_diagram.html

##Github
.github/.vscode/

.vscode
.DS_Store
.idea
