
##Webapp
*webapp/node_modules
*webapp/dist/**/*
*webapp/package-lock.json
*webapp/.DS_Store
*webapp/config/keys_dev.js
*webapp/uploads/**/*
*webapp/.vscode/launch.json
*webapp/.env*

##Backoffice
backoffice/src/bin/
backoffice/src/obj/
backoffice/src/appsettings.*
backoffice/src/wwwroot/dist/
backoffice/src/wwwroot/scss/site.css.map
backoffice/src/wwwroot/scss/site.css
backoffice/src/node_modules
backoffice/src/package-lock.json

backoffice/tests/bin/
backoffice/tests/obj/
backoffice/tests/appsettings.*

backoffice/Droits.sln.DotSettings.user

##scripts
scripts/data/**

##terraform
.terraform
terraform.tfstate
test.tfvars
/terraform/.env
/terraform/refresh-diagram.sh
/terraform/terraform_diagram.html

##scripts
scripts/data

##Github
.github/.vscode/

.vscode
.DS_Store
.idea
