version: "3.8"
services:
  backoffice:
    container_name: droits_backoffice
    build:
      context: ./backoffice
    image: droits-backoffice
    ports:
      - "5000:5000"
      - "5001:5001"
    environment:
      ASPNETCORE_Kestrel__Certificates__Default__Password: "password"
      ASPNETCORE_Kestrel__Certificates__Default__Path: "/https/aspnetapp.pfx"
    volumes:
      - ~/.aspnet/https:/https:ro

  webapp:
    container_name: droits_webapp
    build:
      context: ./webapp
    image: droits-webapp
    ports:
      - "3000:3000"

  database:
    image: postgres:14-alpine
    container_name: droits_database
    volumes:
      - ~/apps/droits_db/pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: droits
      POSTGRES_USER: service
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"

  redis:
    image: redis:latest
    container_name: droits_redis
    ports:
      - "6379:6379"