/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

html {
    position: relative;
    min-height: 100%;
}

textarea.email-body {
    height: fit-content;
}


body {
    background: #333;
    flex: 1;
}

.container-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.govuk-footer {
    padding: 0 !important;
}

.govuk-footer__meta-item {
    margin: 0;
}

main#main-content {
    width: 95%;
    margin: 0 auto !important;
}


p.govuk-phase-banner__content {
    margin: auto;
}

header.govuk-header {
    min-width: 850px !important;
}

.govuk-header__logo {
    max-height: 60px;
}

.govuk-header__logo img {
    max-height: 60px;
}

.govuk-form-group {
    margin-bottom: 15px !important;
}
