@using System.IO;
@model string


<div>
    @{
        using (StringReader sr = new StringReader(Model))
        {
            while (await sr.ReadLineAsync() is { } line)
            {

                if (line.Contains("#"))
                {
                    <h2 style="Margin: 0 0 20px 0; padding: 0; font-size: 27px; line-height: 35px; font-weight: bold; color: #0B0C0C;">@line.Replace("#", "")</h2>
                }
                else if (line.Contains("*"))
                {
                    <ul style="Margin: 0 0 0 20px; padding: 0; list-style-type: disc;">
                        <li style="Margin: 5px 0 5px; padding: 0 0 0 5px; font-size: 19px;line-height: 25px; color: #0B0C0C;">>@line.Replace("*", "")</li>
                    </ul>
                }
                else if (line.Trim().Equals("---"))
                {
                    <hr style="border: 0; height: 1px; background: #B1B4B6; Margin: 30px 0 30px 0;">
                }
                else if (line.Contains("^"))
                {
                    <blockquote style="Margin: 0 0 20px 0; border-left: 10px solid #B1B4B6;padding: 15px 0 0.1px 15px; font-size: 19px; line-height: 25px;">
                        <p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">@line.Replace("^", "")</p>
                    </blockquote>
                }
                else
                {
                    <p>@line</p>
                }
            }
        }
    }

</div>