@using System.IO;
@model string


<div>
    @{
        using (StringReader sr = new StringReader(Model))
        {
            while (await sr.ReadLineAsync() is { } line)
            {

                 line = line.Trim();

                if (line.StartsWith("#"))
                {
                    <h2 class="govuk-heading-m">@line.Replace("#", "")</h2>
                }
                else if (line.StartsWith("*"))
                {
                    <ul style="Margin: 0 0 0 20px; padding: 0; list-style-type: disc;">
                        <li style="Margin: 5px 0 5px; padding: 0 0 0 5px; font-size: 19px;line-height: 25px; color: #0B0C0C;">>@line.Replace("*", "")</li>
                    </ul>
                }
                else if (line.Equals("---"))
                {
                    <hr style="border: 0; height: 1px; background: #B1B4B6; Margin: 30px 0 30px 0;">
                }
                else if (line.StartsWith("^"))
                {
                    <div class="govuk-inset-text">
                        @line.Replace("^", "")
                    </div>
                }
                else
                {
                    <p>@line</p>
                }
            }
        }
    }

</div>