@model Notify.Models.Responses.TemplatePreviewResponse

<h1>Email Preview</h1>

@{
    List<string> bodyLines = Model.body.Split("\r").ToList();
    
    foreach (var line in bodyLines)
    {
        string formattedLine;
        
        if (line.Contains("#"))
        {
            formattedLine = line.Replace("#", "");
            <h1>@formattedLine</h1>
        }
        else if (line.Contains("*"))
        {
            formattedLine = line.Replace("*", "");
            <ul>@formattedLine</ul>
        }
        else if (line.Contains("---"))
        {
            formattedLine = line.Replace("---", "");
            <hr/>
        }
    }
}

