@model Notify.Models.Responses.TemplatePreviewResponse

@{
    ViewData["Title"] = "Preview Email";
}

    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h4 class="govuk-heading-m">@ViewData["Title"]</h4>
    </legend>

@{
    List<string> bodyLines = Model.body.Split("\r").ToList();
    
    foreach (var line in bodyLines)
    {
        string formattedLine;
        
        if (line.Contains("#"))
        {
            formattedLine = line.Replace("#", "");
            <h1 class="govuk-heading-m">@formattedLine</h1>
        }
        else if (line.Contains("*"))
        {
            formattedLine = line.Replace("*", "");
            <li>@formattedLine</li>
        }
        else if (line.Contains("---"))
        {
            formattedLine = line.Replace("---", "");
            <hr/>
        }
        // inset    
        // remove items from the list that are just \n \r or empty string
        else
        {
            <p>@line</p>
        }
    }
}

