@model EmailForm

@{
    ViewData["Title"] = "Preview Email";
}
<h4 class="display-8">@ViewData["Title"]</h4>

<form method="Post" action="SendEmail">
<table class="table">
    <tbody>
    <tr>
        <th scope="row">From</th>
        <td>Report Wreck Material</td>
    </tr>
    <tr>
        <th scope="row">Reply to</th>
        <td>row@mcga.gov.uk</td>
    </tr>
    <tr>
        <th scope="row">To</th>
        <td>@Model.EmailAddress</td>
    </tr>
    <tr>
        <th scope="row">Subject</th>
        <td>@Model.Subject</td>
    </tr>
    <tr>
        <td colspan="2">
            @{
                Html.RenderPartial("_GovNotifyText", Model.GetEmailBody());
            }
            
        </td>
    </tr>
    </tbody>
</table>

<a asp-action="Compose" class="btn btn-success">Edit</a>
<button class="btn btn-success" type="submit">Send</button>
</form>
@* add Edit and send(pop up banner somewhere?) buttons *@
