@model LetterListView
@{
    ViewData["Title"] = "Letters";
}

@{
    await Html.RenderPartialAsync("_MessageBanner");
}

<div class="row">
    <div class="col">
        <h4 class="d-inline">@ViewData["Title"]</h4>
    </div>
    <div class="col">
       <div class="d-flex justify-content-end">
           <a class="btn btn-primary js-toggle-letter-search mx-2">Search <i class="fas fa-search"></i></a>
       </div>
    </div>
</div>

<div class="form-search js-letter-search d-none">
    <div class="card mt-2">
        <div class="card-body">
            <partial name="_LetterSearchForm" model="@Model.SearchForm"/>
        </div>
    </div>
</div>


<partial name="_LetterListTable" model="@Model"/>


<div class="row mt-4">
    <div class="col">
        @await Html.PartialAsync("_PaginationPartial", Model)
    </div>
</div>
