@model LetterListView
@{
    ViewData["Title"] = "Letters";
}

@{
    await Html.RenderPartialAsync("_MessageBanner");
}

<div class="row">
    <div class="col">
        <h4>@ViewData["Title"]</h4>
    </div>
</div>

<partial name="_LetterListTable" model="@Model"/>


<div class="row mt-4">
    <div class="col">
        @await Html.PartialAsync("_PaginationPartial", Model)
    </div>
</div>
