@{
    ViewData["Title"] = "Droits V2 - Role auth flow - Updated";
}

<h4 class="govuk-heading-m">@ViewData["Title"]</h4>

@* <govuk-button asp-controller="Droits" asp-action="Index">Manage Droits</govuk-button> *@
