@{
    ViewData["Title"] = "Droit Triage File Upload";
}

@{
    await Html.RenderPartialAsync("_MessageBanner");
}

<h4>@ViewData["Title"]</h4>

@* add instructions here *@
<div class="border p-4">
    @* <button class="btn btn-primary" id="triageHelp">How to bulk update triage numbers</button> *@
        <h5>Upload a csv, xls or xlsx file only</h5>
        <p>Use the template file as a guide, there should be two columns only with the exact headers shown</p>
        <a href="~/downloads/triage_test.csv" download>
            download the template here
        </a>
 </div>
<form method="post" class="mt-2" action="@Url.Action("ProcessTriageFile", "Migration")" enctype="multipart/form-data">
        <div class="form-group row mt-2">
            <input type="file" name="file" id="file" accept=".csv,.xls,.xlsx" class="form-control js-file-file-input text-box single-line" required />
        </div>
        
        <button class="btn btn-primary mt-2 float-end" type="submit">Upload</button>

</form>


