@import 'variables';
@import "~bootstrap/scss/bootstrap";
@import '~choices.js/public/assets/styles/choices.min.css';

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import 'ag-grid-community/styles/ag-grid.min.css';
@import 'ag-grid-community/styles/ag-theme-alpine.min.css';
html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
  color: $text-color;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin-bottom: 60px;
  min-height: 100%;
}

nav.navbar {
  background-color: $navbar-bg;

  .mca-logo {
    max-height: 65px;
  }
}

.font-weight-bold {
  font-weight: bold;
}


div.form-sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;

  fieldset {
    width: 30%;
    padding: 20px 15px;
    margin: 15px 5px;
    border: 1px solid var(--bs-gray-500);
  }
}

.readonly-input {
  border: none;

  :focus {
    outline: none;
  }
}

.input-validation-error {
  background-color: var(--bs-danger-bg-subtle);
  border-color: var(--bs-danger-border-subtle);
}

.progress {
  .progress-bar {
    border-right: 1px solid #000;
  }

  :last-child {
    border-right: none;
  }
}

.multi-line-text {
  white-space: pre-wrap;
}

.search-bar-results-container{
  max-height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
 
}

.search-bar-result {
  text-decoration: none;
  color: inherit;
  &:hover {
    @extend .bg-light;
  }
}

.is-open {
  z-index: 3;
}

.sticky-content {
  position: sticky;
  top: 0;
  overflow-y: auto;
  max-height: calc(100vh - 20px);
}

.tox.tox-tinymce * {
  font-family: var(--bs-body-font-family) !important;
}
