@model WreckView
@{
    ViewData["Title"] = Model.Name == "" ? "Wreck View" : Model.Name;
}

@{
    await Html.RenderPartialAsync("_MessageBanner");
}

<div class="row">
    <div class="col-6 col-lg-8">
        <h4>@ViewData["Title"]</h4>
    </div>
</div>

<ul class="nav nav-tabs" id="droitTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="wreck-tab" data-bs-toggle="tab" data-bs-target="#wreck-content" type="button" role="tab" aria-controls="wreck-content" aria-selected="true">Wreck</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="droits-tab" data-bs-toggle="tab" data-bs-target="#droits-content" type="button" role="tab" aria-controls="droits-content" aria-selected="false">Droits</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="notes-tab" data-bs-toggle="tab" data-bs-target="#notes-content" type="button" role="tab" aria-controls="notes-content" aria-selected="false">Notes</button>
    </li>
</ul>

<div class="tab-content mt-3" id="wreckView">
    <div class="tab-pane fade show active" id="wreck-content" role="tabpanel" aria-labelledby="wreck-tab">
        <partial name="Wreck/_WreckViewFields"/>
        
        @if (Model.Latitude.HasValue() && Model.Longitude.HasValue())
        {
            <div class="row mt-3">
                <iframe src="https://maps.google.com/maps?q=@Model.Latitude,@Model.Longitude&amp;output=embed"></iframe>
            </div>
        }
    </div>

    <div class="tab-pane fade" id="droits-content" role="tabpanel" aria-labelledby="droits-tab">
        <partial name="Droit/_DroitListTable" model="@Model.Droits"/>
    </div>

    <div class="tab-pane fade" id="notes-content" role="tabpanel" aria-labelledby="notes-tab">
        <div class="row justify-content-end">
            <div class="col-6 col-lg-4 text-end">
                <a type="button" class="btn btn-primary" asp-controller="Note" asp-action="Add" asp-route-WreckId="@Model.Id">Add Note</a>
            </div>
        </div>

        <partial name="_NoteListTable" for="Notes"/>
    </div>
</div>

<div class="col d-flex flex-row mt-4 justify-content-end">
    <div class="align-self-end">
        <a type="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a type="button" class="btn btn-primary" asp-action="Index">View Wrecks</a>
    </div>
</div>