<div class="tab-pane fade show active" id="openClosed-content" role="tabpanel" aria-labelledby="openClosed-tab">
    <div class="row">
        <div class="mt-2 col col-sm-12 col-xl-7">
            <div class="card h-100">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="mb-0 text-center">Open/Closed (Year)</h4>
                    <button id="export-csv-year-open-closed" class="btn btn-primary">Export</button>
                </div>
                <div id="year-open-closed-grid-container" class="ag-theme-alpine card-body" style="height:500px;"></div>`
            </div>
        </div>
        <div class="mt-2 col col-sm-12 col-xl-5">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="mb-0 text-center">Open/Closed (Year)</h4>
                </div>
                <canvas id="openClosedYearChart" class="card-body" height="400" style="max-height:500px;"></canvas>
            </div>
        </div>
    </div>
            
<div class="row">
    <div class="mt-2 col-sm-12 col-xl-7">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="mb-0 text-center">Open/Closed (Month)</h4>
                <button id="export-csv-month-open-closed" class="btn btn-primary">Export</button>
            </div>
            <div id="month-open-closed-grid-container" class="ag-theme-alpine card-body" style="height:500px;"></div>`
        </div>
    </div>
                
    <div class="mt-2 col-sm-12 col-xl-5">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="mb-0 text-center">Open/Closed (Month)</h4>
            </div>
            <canvas id="openClosedMonthChart" class="card-body" height="400" style="max-height:500px;"></canvas>
        </div>
    </div>
</div>
</div>