@model DashboardView

@{
    ViewData["Title"] = "My Dashboard";
}

<div class="container mt-5">

    <div class="row">
        <div class="col">
            @{
                await Html.RenderPartialAsync("_MessageBanner");
            }
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <h3 class="display-4 text-center">@ViewData["Title"]</h3>
        </div>
    </div>
    
    
    
    <div class="card">
        <div class="card-header">
            <h4 class="mb-0">My Assigned Droits</h4>
        </div>
        <div class="card-body">
            @if (Model.Droits.TotalCount > 0)
            {
                <partial name="Droit/_DroitListTable" model="@Model.Droits"/>
                <div class="mt-4">
                    @await Html.PartialAsync("_PaginationPartial", Model.Droits)
                </div>
            }
            else
            {
                <h5 class="text-center">No Assigned Droits</h5>
            }
        </div>
    </div>
    
    <div class="card mt-4">
        <div class="card-header">
            <h4 class="mb-0">QC Approved Letters</h4>
        </div>
        <div class="card-body">
             @if (Model.Letters.TotalCount > 0)
             {
                 <partial name="_LetterListTable" model="@Model.Letters"/>
                 <div class="mt-4">
                     @await Html.PartialAsync("_PaginationPartial", Model.Letters)
                 </div>
             }
             else
             {
                 <h5 class="text-center">No Letters To Send</h5>
             }
        </div>
    </div>

</div>
