<div>
    @if (TempData.TryGetValue("SuccessMessage", out var successMessage))
    {
        <div class="alert alert-success" role="alert">
            <h4 class="display-4">@successMessage</h4>
        </div>
    }
    
    @if (TempData.TryGetValue("ErrorMessage", out var errorMessage))
    {
        <div class="alert alert-danger" role="alert">
            <h4 class="display-4">@errorMessage</h4>
        </div>
    }
</div>