<div class="dropdown flex-grow-1">
    <form class="form-inline mx-4">
        <input class="form-control w-100" type="text" id="searchInput" placeholder="Search" aria-controls="searchResults">
    </form>
    <div class="dropdown-menu w-100" id="searchResults" role="listbox" aria-labelledby="searchInput">
        <!-- Search results will appear here -->
    </div>
</div>
