@model Enum

@{
    var viewModel = new StatusView(Model);
}

<div class="progress h-100 border border-dark my-4 d-flex">
    @foreach (Enum status in Enum.GetValues(viewModel.Status.GetType()))
    {
        <div class="progress-bar flex-grow-1 py-2 @viewModel.GetProgressCssClass(status)" role="progressbar">
            <span class="@viewModel.GetTextCssClass(status)">@status.GetDisplayName()</span>
        </div>
    }
</div>
