<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user" aria-hidden="true" role="presentation"></i> <span class="d-none d-lg-inline">@User.FindFirst("name")?.Value</span>
    </button>
    <div class="dropdown-menu dropdown-menu-end w-100" aria-labelledby="userDropdown">
        @if (User.Identity is { IsAuthenticated: true })
        {
            <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="MetricsDashboard">Metrics Dashboard</a>
            <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Index">Manage Users</a>
            <a class="dropdown-item" asp-area="" asp-controller="Migration" asp-action="UploadTriageFile">Import Triage File</a>
            <a class="dropdown-item" asp-area="" asp-controller="Migration" asp-action="UploadAccessFile">Import Access File</a>

            <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Profile">My Profile</a>
            <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="LogOut">Sign Out</a>
        }
        else
        {
            <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Index">Sign In</a>
        }
    </div>
</div>
