<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Droits</title>
    <link rel="stylesheet" href="~/dist/bundle.css" asp-append-version="true"/>
</head>
<body>
<partial name="_header"/>

<div class="mx-5">
    <main role="main" class="pb-3 mb-4">
        @RenderBody()
    </main>
</div>


<script src="~/dist/bundle.js" asp-append-version="true"></script>
@await Html.PartialAsync("_ConfirmDialog")
@await RenderSectionAsync("Scripts", false)
</body>
</html>