@{
    ViewData["Title"] = "Error";
    Layout = "_WideLayout";

}

<div class="mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="card">
                <h5 class="card-header text-danger">@ViewData["Title"]</h5>
                <div class="card-body">
                    <p class="lead">An error occurred while processing your request. Please try again and raise a ticket if this issue persists for longer than an hour.</p>

                    <a class="btn btn-primary btn-lg float-end mt-3" asp-controller="Home" asp-action="Index" role="button">Home</a>
                </div>
            </div>

            @if (!string.IsNullOrEmpty(Model.Error))
            {
                <div class="mt-3 d-none">
                    <div class="card">
                        <h5 class="card-header text-danger bg-danger-subtle">Stack Trace</h5>

                        <div class="card-body">
                            @if (Model.ShowRequestId)
                            {
                                <p>
                                    <strong>Request ID:</strong> <code>@Model.RequestId</code>
                                </p>
                            }
                            <pre>@Model.Error</pre>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>