@model UserForm
@{
    ViewData["Title"] = Model.Id == default ? "New User" : $"User: {Model.Name}";
}

@{
    await Html.RenderPartialAsync("_MessageBanner");
}

<h4>@ViewData["Title"] <i class="fa fa-user-circle"/></h4>
<form class="form-horizontal mt-4" asp-action="Save" method="POST">
    @Html.HiddenFor(m => m.Id)
    <div class="col mt-4">
        <div class="card">
            <h5 class="card-header">RoW User</h5>
            <div class="card-body">
                @{
                    await Html.RenderPartialAsync("User/_UserFormFields", Model);
                }

                <div class="mt-4 float-end">
                    <a type="button" class="btn btn-secondary" asp-action="Index">Cancel</a>
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </div>
        </div>
    </div>

</form>