name: Testing webapp

permissions:
  contents: read
  pull-requests: write

on:
  workflow_call:
    inputs:
      working-directory:
        description: The directory to publish
        type: string
        required: true
    secrets:
      testing_webapp_env_file:
        description: The contents of the testing environment file
        required: true

jobs:
  unit_tests:
    name: Webapp unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v5
        with:
          node-version: 18.17.0
          
      - name: Set up env vars
        env:
          WEBAPP_ENV_FILE: ${{ secrets.testing_webapp_env_file }}
        run: |
          cd webapp
          echo "$WEBAPP_ENV_FILE" > .env.json

      - name: Install NPM dependencies
        run: |
          cd webapp
          npm install --dev

      - name: Run tests
        run: |
          cd webapp
          npm run test
