name: Pipeline for environment

permissions:
  contents: read
  pull-requests: write
  id-token: write

on:
  workflow_call:
    inputs:
      environment:
        description: >
          The environment to which the application should be deployed.  Must be one of development/staging/production
          and must match the terraform_workspace input.
        type: string
        required: true
      terraform_workspace:
        description: >
          The Terraform workspace to which infrastructure should be deployed.  Must be one of dev/staging/production and
          must match the environment input.
        type: string
        required: true
      image_tag:
        description: The version of the artifacts/infrastructure to deploy.
        required: true
        type: string
    secrets:
      aws_role_arn:
        required: true
      aws_account_number:
        description: The account number in which infrastructure should be deployed
        required: true
      db_username:
        description: The username for the master db
        required: true
      db_password:
        description: The password for the master db
        required: true
      registry_url:
        description: The URL of the registry where the image should be published
        required: true
      backoffice_repository_name:
        description: The name of the image to be published
        required: true
      webapp_repository_name:
        description: The name of the image to be published
        required: true
      webapp_env_file:
        description: The contents of the environment file
        required: true
      testing_webapp_env_file:
        description: The contents of the testing environment file
        required: true
      backoffice_env_file:
        description: The contents of the environment file
        required: true
      alerts_email:
        description: Email that will receive alarm alerts
        required: true
      alert_pagerduty_integration_url:
        description: The Integration URL to which CloudWatch alerts should be sent for PagerDuty
        required: true

jobs:
  terraform_lint:
    name: Terraform lint
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: terraform
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ">=1.5.0"
      - name: Terraform Lint
        run: terraform fmt --recursive --check

  backoffice_pipeline:
    name: Run backoffice pipeline
    uses: ./.github/workflows/_reusable-backoffice-pipeline.yml
    needs: [terraform_lint]
    with:
      environment: ${{ inputs.environment }}
      image_tag: ${{ inputs.image_tag }}
    secrets:
      registry_url: ${{ secrets.registry_url }}
      repository_name: ${{ secrets.backoffice_repository_name }}
      aws_role_arn: ${{ secrets.aws_role_arn }}
      env_file: ${{ secrets.backoffice_env_file }}

  webapp_pipeline:
    name: Run webapp pipeline
    uses: ./.github/workflows/_reusable-webapp-pipeline.yml
    needs: [terraform_lint]
    with:
      environment: ${{ inputs.environment }}
      image_tag: ${{ inputs.image_tag }}
    secrets:
      registry_url: ${{ secrets.registry_url }}
      repository_name: ${{ secrets.webapp_repository_name }}
      aws_role_arn: ${{ secrets.aws_role_arn }}
      env_file: ${{ secrets.webapp_env_file }}
      testing_webapp_env_file: ${{ secrets.testing_webapp_env_file }}

  deploy:
    name: Deploy changes
    needs: [backoffice_pipeline,webapp_pipeline]
    uses: ./.github/workflows/_reusable-deploy.yml
    with:
      environment: ${{ inputs.environment }}
      terraform_workspace: ${{ inputs.terraform_workspace }}
      image_tag: ${{ inputs.image_tag }}
    secrets:
      registry_url: ${{ secrets.registry_url }}
      backoffice_repository_name: ${{ secrets.backoffice_repository_name }}
      webapp_repository_name: ${{ secrets.webapp_repository_name }}
      aws_role_arn: ${{ secrets.aws_role_arn }}
      aws_account_number: ${{ secrets.aws_account_number }}
      db_username: ${{ secrets.db_username }}
      db_password: ${{ secrets.db_password }}
      alert_email_address: ${{ secrets.alerts_email }}
      alert_pagerduty_integration_url: ${{ secrets.alert_pagerduty_integration_url }}
      webapp_env_file: ${{ secrets.webapp_env_file }}
      backoffice_env_file: ${{ secrets.backoffice_env_file }}
