name: Deploy Backoffice to Dev Environment
on:
  push:
    branches:
      - main
jobs:
  terraform_lint:
    name: Terraform lint
    runs-on: ubuntu-latest
    environment: development
    defaults:
      run:
        working-directory: terraform
    steps:
      - uses: actions/checkout@v3
      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.4.2
      - name: Terraform Lint
        run: terraform fmt --recursive --check

  test_backoffice:
    name: Test Backoffice
    needs: [terraform_lint]
    uses: ./.github/workflows/test-backoffice.yml
    with:
      dotnet-version: "7.0.x"

  publish_backoffice_image:
    name: Publish Backoffice
    needs: [test_backoffice]
    uses: ./.github/workflows/publish-backoffice-image.yml
    with:
      tag: ${{ github.sha }}
    secrets:
      registry_url: ${{ secrets.ECR_REPOSITORY_URL }}
      repository_name: ${{ secrets.ECR_REPOSITORY_NAME }}
      aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      aws_session_token: ${{ secrets.AWS_SESSION_TOKEN }}

  deploy_dev:
    name: Development
    needs: [publish_backoffice_image]
    uses: ./.github/workflows/deploy.yml
    with:
      environment: development
      terraform_workspace: development
      version: ${{ github.sha }}
    secrets:
      aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      aws_account_number: ${{ secrets.AWS_ACCOUNT_NUMBER }}
