name: Development pipeline

permissions:
  contents: read
  pull-requests: write
  id-token: write
  
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  run_pipeline:
    name: Deploying to Development
    uses: ./.github/workflows/_reusable-pipeline.yml
    with:
      environment: development
      terraform_workspace: dev
      image_tag: ${{ github.sha }}
    secrets:
      alerts_email: ${{ secrets.ALERTS_EMAIL }}
      alert_pagerduty_integration_url: ${{ secrets.ALERT_PAGERDUTY_INTEGRATION_URL }}
      aws_account_number: ${{ secrets.AWS_ACCOUNT_NUMBER }}
      aws_role_arn: ${{ secrets.AWS_ROLE_ARN }}
      backoffice_env_file: ${{ secrets.BACKOFFICE_ENV_FILE }}
      backoffice_repository_name: ${{ secrets.BACKOFFICE_ECR_REPOSITORY_NAME }}
      db_password: ${{ secrets.DB_PASSWORD }}
      db_username: ${{ secrets.DB_USERNAME }}
      registry_url: ${{ secrets.ECR_REPOSITORY_URL }}
      testing_webapp_env_file: ${{ secrets.TESTING_WEBAPP_ENV_FILE }}
      webapp_env_file: ${{ secrets.WEBAPP_ENV_FILE }}
      webapp_repository_name: ${{ secrets.WEBAPP_ECR_REPOSITORY_NAME }}
